composit_datatype/*.tfstate
composit_datatype/*.backup
composit_datatype/*.txt

modules/*.tfstate
modules/*.backup

metaarguments/*.tfstate
metaarguments/*.backup
metaarguments/*.txt

create-azure-resources-1main/*.tfstate
create-azure-resources-1main/*.backup
create-azure-resources-1main/**/*.tfstate
create-azure-resources-1main/**/*.tfstate.*
create-azure-resources-1main/**/*.backup


remote-backend-stateManagement/*.tfstate
remote-backend-stateManagement/**/*.tfstate.*
remote-backend-stateManagement/**/*.tfstate
remote-backend-stateManagement/**/*.backup
remote-backend-stateManagement/*.backup


mul-instanceOf-sameResource/*.tfstate
mul-instanceOf-sameResource/**/*.tfstate.*
mul-instanceOf-sameResource/**/*.tfstate
mul-instanceOf-sameResource/**/*.backup
mul-instanceOf-sameResource/*.backup





# Ignore the .terraform directory (except for Git LFS files)
.terraform/

# Ignore Terraform plan files
*.tfplan
*.tfvars

# Ignore Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore crash log files
crash.log

# Ignore .terraform.lock.hcl file
.terraform.lock.hcl

create_container_res/*.tfstate
create_container_res/*.backup
.terraform/
*.zip
*.tar.gz


