composit_datatype/*.tfstate
composit_datatype/*.backup
composit_datatype/*.txt



metaarguments/*.tfstate
metaarguments/*.backup
metaarguments/*.txt

virtual-machine/*.tfstate
virtual-machine/*.backup



create_container_res/*.tfstate
create_container_res/*.backup
.terraform/
